body {
    background-color: #ff4a09;
    color: #ffffff;
}

header {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    padding: 5px;
    margin: 0;
    justify-content: space-between;
}
header .game-title {
    font-size: clamp(1.5rem, 5vw + 1rem, 3rem);
    font-family: 'Saiyan Sans', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}
header .game-title img {
    max-width: 250px;
}
header .game-title-red {
    color: #ff0000;
    -webkit-text-stroke: 1px black;
}
header .game-title-yellow {
    color: #ffea16;
    -webkit-text-stroke: 1px black;
}
header .scores-container {
    font-size: clamp(1rem, 0.5vw + 1rem, 1.25rem);
}

main {
    padding: 10px;
}
main .info-container {
    display: flex;
    justify-content: space-between;
}
main .info-container p {
    font-size: clamp(1rem, 0.5vw + 1rem, 1.25rem);
}
main .info-container button {
    font-size: clamp(1rem, 0.5vw + 1rem, 1.25rem);
    padding: 12px 24px;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    background-color: #eee708;
}
main .info-container button:hover {
    background-color: hsl(58, 93%, 58%);
}

.board {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.card-container {
    width: 250px;
    height: 300px;
    margin: 20px;
    perspective: 800px;
    transform-origin: left;
    cursor: pointer;
    transition: transform 1000ms ease-in-out;
}

.card {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 1000ms ease-in-out;
    transform-style: preserve-3d;
}

.front,
.back {
    border: 1px solid hsl(0, 0%, 80%);
    border-radius: 10px;
    box-shadow: 5px 5px 5px hsla(0, 0%, 99%, 0.1);
    background-color: #eee708;
    margin: 10px;
    text-align: center;
    padding: 5px;
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
}

.front .card-image {
    width: 250px;
    height: 250px;
    object-fit: contain;
    margin-bottom: 10px;
}
.front .card-title {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    color: black;
}
.front:hover {
    background-color: rgb(167, 243, 167);
}

.back {
    transform: rotateY(180deg);
}
.back .card-image {
    width: 100%;
    height: 100%;
}

.loader-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.flip-animation {
    transform: rotateY(180deg);
}

.soundtrack-btn > img {
    width: 30px;
    height: 30px;
}

.soundtrack-btn {
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 20px;
    padding: 10px;
    border-radius: 50px;
    border: none;
    background-color: #eee708;
    cursor: pointer;
}

.soundtrack-btn:hover {
    background-color: hsl(58, 93%, 38%);
}

@font-face {
    font-family: 'Saiyan Sans';
    src: url('./fonts/Saiyan-Sans.ttf') format('truetype');
}
