header {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    padding: 10px;
    justify-content: space-between;
}
header .game-title {
    font-size: clamp(1.5rem, 5vw + 1rem, 3rem);
}
header .scores-container {
    font-size: clamp(1rem, 0.5vw + 1rem, 1.25rem);
}

main {
    padding: 10px;
}
main p {
    font-size: clamp(1rem, 0.5vw + 1rem, 1.25rem);
}

.board {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    border: 1px solid hsl(0, 0%, 80%);
    border-radius: 10px;
    box-shadow: 5px 5px 5px hsla(0, 0%, 0%, 0.1);
    margin: 10px;
    text-align: center;
    padding: 5px;
    max-width: 300px;
    display: inline-block;
    cursor: pointer;
    transition: transform 200ms ease-in;
}
.card .card-image {
    width: 300px;
    height: 300px; 
    object-fit: contain;
    margin-bottom: 10px;
}
.card .card-title {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    color: black;
}
.card:hover {
    transform: translateY(-2px);
    background-color: rgba(167, 243, 167, 0.354);
}
