html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
    background-color: #ff4a09;
}

#root {
    color: #ffffff;
    position: relative;
    font-size: clamp(1rem, 0.5vw + 1rem, 1.25rem);
}

header {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    padding: 5px;
    margin: 0;
    justify-content: space-around;
    flex-wrap: wrap;
}
header .game-title {
    font-size: clamp(1.3rem, 4vw + 1rem, 2.4rem);
    font-family: 'Saiyan Sans', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}
header .game-title img {
    max-width: 200px;
}
header .game-title-red {
    color: #ff0000;
    -webkit-text-stroke: 1px black;
}
header .game-title-yellow {
    color: #ffea16;
    -webkit-text-stroke: 1px black;
}

header .scores-container {
    padding: 0 20px;
    background-color: rgb(45, 45, 85);
    border-radius: 20px;
    font-weight: 700;
}
main {
    padding: 20px;
}

main .board {
    display: flex; 
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 2rem;
}

main .board .card-container {
    width: 250px;
    height: 250px;
    margin: 20px;
    perspective: 800px;
    transform-origin: left;
    cursor: pointer;
    transition: transform 1000ms ease-in-out;
}
.card-container .card {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 1000ms ease-in-out;
    transform-style: preserve-3d;
}

.front,
.back {
    border: 1px solid hsl(0, 0%, 80%);
    border-radius: 10px;
    box-shadow: 5px 5px 5px hsla(0, 0%, 99%, 0.1);
    background-color: #eee708;
    margin: 10px;
    text-align: center;
    padding: 5px;
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
    overflow: hidden;
}

.front .card-image {
    width: 200px;
    height: 200px;
    object-fit: contain;
}
.front .card-title {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    color: black;
}
.front:hover {
    background-color: rgb(167, 243, 167);
}

.back {
    transform: rotateY(180deg);
}
.back .card-image {
    width: 100%;
    height: 100%;
}

.loader-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.flip-animation {
    transform: rotateY(180deg);
}

.controls {
    margin: 5px;
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: flex-start;
    gap: 10px;
}
.controls .newChar-btn {
    font-size: inherit;
    padding: 12px 24px;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    background-color: #eee708;
}
.controls .newChar-btn:hover {
    background-color: hsl(58, 93%, 58%);
}

.soundtrack-btn > img {
    width: 30px;
    height: 30px;
}
.soundtrack-btn {
    padding: 10px;
    border-radius: 50px;
    border: none;
    background-color: #eee708;
    cursor: pointer;
}
.soundtrack-btn:hover {
    background-color: hsl(58, 93%, 38%);
}

@font-face {
    font-family: 'Saiyan Sans';
    src: url('./fonts/Saiyan-Sans.ttf') format('truetype');
}
